.fundo{
    background: #CAD2C3;
    height: 100%;
    padding: 1rem;
}

.fundo h1{
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}

.fundo p{
    text-align: justify;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.projetoImg figure{
    margin-top: 3rem;
}

.projetoImg img{
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 800px){
    .fundo h1, .fundo p{
        width: 80%;
        margin-left: 10%;
    }

    .fundo h1{
        font-size: 3rem;
    }

    .fundo p{
        font-size: 1.5rem;
    }

    .projetoImg img{
        width: 40%;
        margin-left: 30%;
        margin-top: 1rem;
    }
}