.header{
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-inline: 0.5rem;
}

.header img{
    width: 5rem;
}

.header button{
    border: 0;
    background: #FFF;
}

.menu{
    border-right: 1px solid black;
    background: #CAD2C3;
    width: 14.75rem;
    position: absolute;
    height: 92.5%;
    padding-block: 1rem;
    z-index: 999;
    translate: -100%;
    transition: translate .3s;
}

.menu::before{
    position: absolute;
}

.menu nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}

.menu a{
    margin-top: 1rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu.open{
    translate: 0;
}

.desktop{
    display: none;
    height: 4rem;
    padding-left: 0.5rem;
}

.desktop h1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.desktop img{
    width: 5rem;
}

.desktop_options{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    gap: 5rem;
}

.desktop_options a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.desktop_options a:hover{
    text-decoration: underline;
}

@media (min-width: 1320px){
    .mobile{
        display: none;
    }

    .desktop{
        display: flex;
    }
}