.fundo{
    background: #CAD2C3;
    height: 100%;
}

.fundo h1{
    padding-block: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}

.video{
    display: flex;
    justify-content: center;
}

.video img{
    width: 23rem;
}

.preparo{
    margin-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.preparo li{
    margin-left: 1rem;
    margin-right: 1rem;
}

.preparo h2{
    margin-bottom: 0.5rem;
}

.preparo img{
    width: 9rem;
    margin-bottom: 3.875rem;
    margin-top: 50%;
}

.cuidados{
    margin-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cuidados li{
    margin-left: 2.5rem;
}

.cuidados h2{
    margin-left: 1.3rem;
    margin-bottom: 0.5rem;
}

.cuidados img{
    width: 9rem;
    margin-bottom: 3.875rem;
    margin-top: 50%;
}

@media (min-width: 800px){
    .video img{
        width: 59rem;
        margin-bottom: 4rem;
    }

    .fundo h1{
        font-size: 3rem;
    }

    .fundo h2{
        font-size: 2rem;
        margin-top: 6.25rem;
        margin-bottom: 2rem;
    }

    .preparo{
        width: 46%;
        margin-left: 27%;
        margin-top: 0;
    }

    .preparo li{
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .preparo img{
        width: 16.5rem;
        margin-left: 5rem;
        margin-right: 1rem;
    }
    
    .cuidados{
        width: 46%;
        margin-left: 27%;
    }

    .cuidados li{
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .cuidados img{
        width: 18rem;
        margin-left: 1rem;
    }
}